.App {
  width: 100%;
}

.App-header {
  background-image: linear-gradient(to left, #21063d, #560da5 50%, #30085b);
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  
}

.password-container {
  margin: auto;
  width: 50%;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.password-input-container {
  position: relative;
}

.password-requirements {
  text-align: center;
}

.view-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #717171;
}

.nextButton {
  background-color: #560da5;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.previousButton {
  background-image: linear-gradient(to left, #21063d, #560da5 50%, #30085b);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.appFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #21063d, #560da5 50%, #30085b);
  color: white;
  height: 7%;
  width: 100%;
  
}

.testerTable {
  margin: auto;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  outline:auto;
}

.testerTableCell {
  border: 1px solid;
  text-align: left;
  padding: 10px;
}

.testerTableHeader {
  border: 1px solid;
  padding: 10px;
}

.progress-container {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 3px;
}

.progress-bar {
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: width 0.3s ease-in-out; /* Smooth transition for width change */
}

.progress-text {
  display: block;
}

.buttonTable {
  margin: auto;
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.subtitleText {
  background-image: linear-gradient(to left, #21063d, #560da5 50%, #30085b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bodyContainer {
  margin: auto;
  width: 50%;
  margin-top: 1%;
  text-align: center;
  margin-bottom: 1%;
}

.bodyContainer2 {
  margin-bottom: 100px;
}